body {
  background-color: black;
}
#panelone {
  width:400px;
  height: 400px;
  background-color: gray;
}

#paneltwo {
  width: 400px;
  heigh: 400px;
  background-color: gray;
}

#panelthree {
  widt: 400px;
  height: 400px;
  background-color: gray;
}

#doggyimage {
  height: 300px;
  width: 400px;
}
